h1 {
 color: red;
 width: 60%;
 padding: 10px;
 position: relative;
 text-align: center;
}

.container {
	background-color: green;
	position: relative;
    width: 100%;
}

a {
	position: relative;
    width: 100%;
	padding: 60px;
}