{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% block content %}
	<div class="col-lg-6">
	<h3>Login</h3>
    {% if error %}
		<div class="alert alert=dismissible alert-danger">
        <p>Your username and password didn't match. Please try again.</p>
		</div>
    {% endif %}
	<div class="well bs-component">
    <form class="form-horizontal" method="post" action=".">{% csrf_token %}
        <table border="0">
           {{form.as_p}}
        </table>
        <input class="btn btn-primary" type="submit" value="Login" />
        <input type="hidden" name="next" value="/home" />
    </form>
	</div>
	<a href={% url 'index' %} class="btn btn-default">Home</a>
    <a href={% url 'register' %} class="btn btn-default">Register</a>
	</div>
{% endblock %}