<!-- question_index.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "css/indexStyle.css" %}">

<h1> Home </h1>

{% if user.is_authenticated %}
<a href={% url 'create' %}>Ask Question</a>
{% endif %}
<a href={% url 'present' %}>Answer Question</a>

{% if user.is_authenticated %}
<a href="/logout">logout</a>
{% else %}
<a href="/login">login</a>
<a href="/register">register</a>
{% endif %}
<div id="reactContent"></div>



{% endblock content %}